{% extends 'base.html.twig' %}

{% block title %}Accueil - MEDINOVA{% endblock %}

{% block body %}
<div class="text-center">
    <h2>Bienvenue sur MEDINOVA Hospital</h2>
    <p class="lead">Votre santé, notre priorité !</p>
    <a href="#" class="btn btn-primary btn-lg mt-3">Prendre rendez-vous</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h4>Nos services</h4>
        <p>Consultations spécialisées, urgences, imagerie médicale et plus encore.</p>
    </div>
    <div class="col-md-4">
        <h4>Notre équipe</h4>
        <p>Des médecins et infirmiers qualifiés à votre service pour votre santé.</p>
    </div>
    <div class="col-md-4">
        <h4>Contactez-nous</h4>
        <p>Email : contact@medinova.com <br> Téléphone : +216 123 456 789</p>
    </div>
</div>
{% endblock %}
