security:
    enable_authenticator_manager: true

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\Utilisateur:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Utilisateur
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            lazy: true
            provider: app_user_provider
            user_checker: App\Security\UserChecker

            form_login:
                login_path: app_login
                check_path: app_login
                username_parameter: _username
                password_parameter: _password
                enable_csrf: true
                csrf_parameter: _csrf_token
                csrf_token_id: authenticate
                default_target_path: app_login_redirect

            logout:
                path: app_logout
                target: app_home

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
                remember_me_parameter: _remember_me

    access_control:
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/signup$, roles: PUBLIC_ACCESS }
        - { path: ^/register$, roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }
        - { path: ^/forgot, roles: PUBLIC_ACCESS }

        - { path: ^/admin/, roles: ROLE_ADMIN }
        - { path: ^/medecin/, roles: ROLE_MEDECIN }
        - { path: ^/patient/, roles: ROLE_PATIENT }
        - { path: ^/laboratoire/, roles: ROLE_RESPONSABLE_LABO }
        - { path: ^/parapharmacie/, roles: ROLE_RESPONSABLE_PARA }

        - { path: ^/, roles: IS_AUTHENTICATED_FULLY }
