security:
    enable_authenticator_manager: true

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\Utilisateur:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Utilisateur
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            lazy: true
            provider: app_user_provider
            user_checker: App\Security\UserChecker
            
            form_login:
                login_path: app_login
                check_path: app_login
                username_parameter: _username
                password_parameter: _password
                enable_csrf: true
                csrf_parameter: _csrf_token
                csrf_token_id: authenticate
                default_target_path: app_login_redirect
                always_use_default_target_path: true
                failure_path: app_login
            
            logout:
                path: app_logout
                target: app_home  # ou app_login selon vos préférences
            
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
                always_remember_me: false
                remember_me_parameter: _remember_me

    access_control:
        # Pages publiques
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/signup$, roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }
        - { path: ^/forgot, roles: PUBLIC_ACCESS }
        
        # Backoffice Admin (EasyAdmin)
        - { path: ^/admin, roles: ROLE_ADMIN }
        
        # Pages protégées par rôle
        - { path: ^/medecin/, roles: ROLE_MEDECIN }
        - { path: ^/patient/, roles: ROLE_PATIENT }
        - { path: ^/responsable-labo, roles: ROLE_RESPONSABLE_LABO }
        - { path: ^/laboratoire/, roles: ROLE_PATIENT }
        - { path: ^/parapharmacie/, roles: ROLE_RESPONSABLE_PARA }
        - { path: ^/profile, roles: IS_AUTHENTICATED_FULLY }
        
        # Toutes les autres pages nécessitent une connexion
        - { path: ^/, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10