<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Medinova</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#appointment">Appointment</a></li>
                
                {# Admin eventos panel accessible to admin and medical staff who can manage their own events #}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MEDECIN') or is_granted('ROLE_RESPONSABLE_LABO') or is_granted('ROLE_RESPONSABLE_PARA') or is_granted('ROLE_PATIENT') %}
                <li class="nav-item"><a class="nav-link" href="{{ path('admin_evenement_list') }}">Gestion Événements</a></li>
                {% endif %}
            </ul>

            <!-- Boutons S'inscrire, Se connecter, Logout -->
            <div class="d-flex ms-3">
                {% if app.user %}
                    <span class="me-3 align-self-center">{{ app.user.prenom }} {{ app.user.nom }}</span>
                    <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
                {% else %}
                    <a href="/signup" class="btn btn-outline-primary me-2">S'inscrire</a>
                    <a href="/login" class="btn btn-primary">Se connecter</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
